
<p-tree *ngIf="parameters.length > 0" [value]="parameters">
    <ng-template let-node  pTemplate="default">
        <b4t-parameter [param]="node.parameter" [canEditName]="node.keyEditable" [valueSource]= "valueSource"
            [planItems]="planItems" [canDelete]="canDelete(node)" (paramChange)="paramChange($event, node)"
            (delete)="deleteTreeNode(node)"></b4t-parameter>
    </ng-template>

    <ng-template let-node  pTemplate="array">
        <span>[Array]({{node.children.length}}) {{node.label}}:</span>
        <i class="fa fa-plus-square-o" (click)="addChildNode4ObjectArray(node)"></i>
    </ng-template>
    
    <ng-template let-node pTemplate="object">
        <span>[Object] {{node.label}}:</span>
        <span *ngIf="canEditValue(node)" class="dynamic-object-value">
            <textarea [ngModel]="getObjectValue(node)" (ngModelChange)="updateObjectValue(node, $event)"></textarea>
        </span>
        <i *ngIf="canDelete(node)" class="fa fa-minus-square-o" (click)="deleteTreeNode(node)"></i>
        <i *ngIf="canAdd(node)" class="fa fa-plus-square-o" (click)="addChildNode4DynamicObject(node)"></i>
    </ng-template>

    <ng-template let-node pTemplate="map">
        <span *ngIf="!node.keyEditable">[Map] {{node.label}}:</span>
        <i *ngIf="canDelete(node)" class="fa fa-minus-square-o" (click)="deleteTreeNode(node)"></i>
        <i *ngIf="canAdd(node)" class="fa fa-plus-square-o" (click)="addChildNode4DynamicObject(node)"></i>
    </ng-template>
</p-tree>
