
<p-tree *ngIf="parameters.length > 0" [value]="parameters">
    <ng-template let-node  pTemplate="default">
        <b4t-parameter [param]="getParameter(node)" [canEditName]="node.keyEditable" [valueSource]= "valueSource"
            [planItems]="planItems" [canDelete]="canDelete(node)" (paramChange)="paramChange($event, node)"
            (delete)="deleteTreeNode(node)"></b4t-parameter>
    </ng-template>

    <ng-template let-node  pTemplate="array">
        <b4t-parameter [param]="getParameter(node)" [canEditName]="node.keyEditable" [valueSource]= "getObjectValueSource()"
        [planItems]="planItems" [canDelete]="canDelete(node)" (paramChange)="paramChange($event, node)"
        (delete)="deleteTreeNode(node)"></b4t-parameter>
        <i class="fa fa-plus-square-o" (click)="addChildNode4ObjectArray(node)"></i>
    </ng-template>

    <ng-template let-node pTemplate="object">
      <b4t-parameter [param]="getParameter(node)" [canEditName]="node.keyEditable" [valueSource]= "getObjectValueSource()"
        [planItems]="planItems" [canDelete]="canDelete(node)" (paramChange)="paramChange($event, node)"
        (delete)="deleteTreeNode(node)"></b4t-parameter>

        <i *ngIf="canDelete(node)" class="fa fa-minus-square-o" (click)="deleteTreeNode(node)"></i>
        <i *ngIf="canAdd(node)" class="fa fa-plus-square-o" (click)="addChildNode4DynamicObject(node)"></i>
    </ng-template>

    <ng-template let-node pTemplate="map">
        <b4t-parameter [param]="getParameter(node)" [canEditName]="node.keyEditable" [valueSource]= "getObjectValueSource()"
        [planItems]="planItems" [canDelete]="canDelete(node)" (paramChange)="paramChange($event, node)"
        (delete)="deleteTreeNode(node)"></b4t-parameter>
        <i *ngIf="canDelete(node)" class="fa fa-minus-square-o" (click)="deleteTreeNode(node)"></i>
        <i *ngIf="canAdd(node)" class="fa fa-plus-square-o" (click)="addChildNode4DynamicObject(node)"></i>
    </ng-template>
</p-tree>
